* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background: #ffffff;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px 30px 5px 30px;
    flex-direction: row;
}

.navbar-img {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: larger;
}

ul.navbar {
    list-style: none;
    padding: 0;
    gap: 10px;
    display: flex;
}

ul.navbar li {
    margin: 10px 0;
}

ul.navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: large;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

ul.navbar li a:hover {
    background-color: rgb(38, 128, 231);
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        background-color: #b10202;
    }
    .navbar-options {
        margin-top: 0;
    }

    ul.navbar {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 425px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        background-color: #28b102;
    }
    .navbar-options {
        margin-top: 0;
    }

    ul.navbar {
        display: flex;
        align-items: center;
    }
}

